<div id="show">

<p id="notice"><%= notice %></p>
<div>
  <h1><%= @user.name %></h1>
</div>

<div>
<h1>My Products</h1>
  <div class='myProducts'>
    <% @products.each do |product| %>
        <%=render '/products/product', product:product %>
        <%= button_to "Edit", edit_product_path(:id => product.id), :method => :get  %>
        <% if product.pledges.count == 0 %>
          <%= button_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>


  </div>

</div>

<div>
My Pledges
  <div class='myPledges'>
    <% @pledges.each do |pledge| %>
      <%  product = pledge.product %>
        <%=render '/products/product', product:product %>
        <div class=pledge>
           <p> Pledge Amount $
             <%=pledge.amount %>
           </p>

        </div>
        <% end %>
  </div>
</div>
</div>
