<p id="notice"><%= notice %></p>
<div>
  <%= @user.name %>
</div>

<div>
My Products
  <div id='myProducts'>
    <% @products.each do |product| %>
        <%=render '/products/product', product:product %>

        <% end %>

  </div>

</div>

<div>
My Pledges
  <div id='myPledges'>

  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
