<div class="product-container">
  <div class="product-photo">
    <%= image_tag product.image_url %>
  </div>
  <div class="product-information">
    <h3><%= product.title %></h3>
    <h4><%= product.user.name %></h4>
    <p>
      <%= product.description %>
    </p>
    <div class="product-sub-information">
      <h4><%= product.goal %></h4>
      <h4><%= product.get_time_remaining %></h4>
    </div>
  </div>
</div>
