<tr>
  <td><%= product.title %></td>
  <td><%= image_tag product.image_url %></td>
  <td><%= product.description %></td>
  <td><%= product.goal %></td>
  <td><%= product.start_date %></td>
  <td><%= product.end_date %></td>
  <td><%= product.get_time_remaining %></td> 
  <td><%= product.user %></td>
  <td><%= product.tags %></td>
</tr>
