<p id="notice"><%= notice %></p>

<div class="product-field" id=<%=@product.id%>>
    <div class="product-main">
      <%= image_tag @product.image_url %>
    <div class="product-details">
      <h3><%= @product.title %></h3>
      <h4><%= @product.user.name %></h4>
      <h4><%= @product.goal %></h4>
      <h4><%= @product.get_time_remaining %></h4>
    </div>
  </div>
  <div class="product-description">
    <p>
      <%= @product.description %>
    </p>
    </div>
  </div>
</div>

<div class="reward-field">
  <% @product.rewards.each do |reward|%>
    <%= render 'rewards/reward', reward: reward%>
  <% end %>
</div>
